
#skill { 
	list-style: none;
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	width: 400px;
	margin: 20px auto;
	position: relative;
	line-height: 1em;
	padding: 10px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;  
	height:10px; 
	border-radius:20px;   
}

#skill li h3 { 
	color:#333;
  position:relative; 
	top:-25px;
}

.bar { 
	height:10px; 
	position:absolute;
	border-radius:10px;
	background-color: #333;
}

.eighty {
	width:80%;
}

.fifty {
	width:50%;
}

.thirty {
	width:30%;
}


.twenty {
	width:20%;
}

.sixty {
	width:60%;
}






/*
#skill { 
	list-style: none;
	font:13px/1.231 arial,helvetica,clean,sans-serif;
  
	width: 400px;
	margin: auto 0;
	position: relative;
	line-height: 1em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;  
	height:10px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	font-family:Georgia;
	color:#333;
  position:relative; 
	top:-25px;
}

.bar { 
	height:10px; 
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 0px 0px #fcfcfc inset, 0 0px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
}

.twenty {
	width:20%;
	-moz-animation:twenty 2s ease-out;
	-webkit-animation:twenty 2s ease-out;
	background-color: #333;
}

@-moz-keyframes twenty        { 0%  { width:0px;} 100%{ width:20%;}  }
@-webkit-keyframes twenty        { 0%  { width:0px;} 100%{ width:20%;}  }


.thirty {
	width:30%;
	-moz-animation:thirty 2s ease-out;
	-webkit-animation:thirty 2s ease-out;
	background-color: #333;
}

@-moz-keyframes thirty        { 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes thirty        { 0%  { width:0px;} 100%{ width:30%;}  }



.fifty {
	width:50%;
	-moz-animation:fifty 2s ease-out;
	-webkit-animation:fifty 2s ease-out;
	background-color: #333;
}

@-moz-keyframes fifty        { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes fifty        { 0%  { width:0px;} 100%{ width:50%;}  }


.eighty {
	width:80%;
	-moz-animation:eighty 2s ease-out;
	-webkit-animation:eighty 2s ease-out;
	background-color: #333;
}

@-moz-keyframes eighty        { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes eighty        { 0%  { width:0px;} 100%{ width:80%;}  }


.sixty {
	width:60%;
	-moz-animation:sixty 2s ease-out;
	-webkit-animation:sixty 2s ease-out;
	background-color: #333;
}

@-moz-keyframes sixty        { 0%  { width:0px;} 100%{ width:60%;}  }
@-webkit-keyframes sixty        { 0%  { width:0px;} 100%{ width:60%;}  }


*/

